body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}

.section-1 {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 400px;
    width: 100%;

}

.sec1-color {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.sec2-color {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.btn-donate {
    color: white;
    text-align: center;
    margin-left: 50%;
    background-color: tomato;
    padding: 15px 15px 15px 15px;
    font-weight: 800;
    width: 10%;
    height: 10%;
    font-size: 15px;
    border-color: #FFFFFF;
    border-radius: 5px;
}

.sec2-donate-flex {
    display: flex;
}

.section-2 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    /* margin-left: 100px;
    margin-right: 100px; */
    justify-content: center;
}


.sec2-donate-flex div {
    display: flex;
    width: 50%;
    height: 50px;
    margin: 0 5px;
    /* margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-right: 10px; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    font-family: 700;
    /* border: 1px solid gray; */
    /* box-sizing: border-box; */
    text-align: center;
    justify-content: center;
    text-decoration: solid;
    background-color: rgba(252, 240, 240, 0.796);
    font-weight: 700;
}

.two-hundredtk {
    color: tomato;
    border: 2px solid tomato;
    border-radius: 5px;
    background-color: rgba(198, 176, 176, 0.952) !important;

}

.sec2-button {
    color: white;
    background-color: tomato;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    border-color: #FFFFFF;
}

.sec2-other {
    font-weight: 300;
    padding: 15px 15px 15px 15px;
    border-color: #FFFFFF;
    border-style: hidden;
    background-color: #FFFFFF;
    text-decoration-color: rgb(227, 193, 193);
}

.sec2-hr {
    width: 100%;
    margin: 0 auto;
}


.section-3 {
    margin-top: 100px;
    /* margin: 0 auto; */
    text-align: center;
    width: 60%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
}

.sec3-flex {
    display: flex;

}

.sec3-text h1 {
    font-size: 40px;
}

.sec3-box1 {
    background-color: #edf5f6;
    /* margin-top: 50px; */
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-right: 15px;
}

.sec3-box2 {
    background-color: #ffeeee;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-right: 15px;
}

.sec3-box3 {
    background-color: #fff4d6;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: left;

}